<?php

// Main
//echo $str;

print (
	'ログイン済み：' .
	h($user['name_first']) .
	h($user['name_last']) .
	'さん<br>'
);
print $this->Html->link('カルテ作成', '/Main/add_record');
print '<br>';
print $this->Html->link('カルテ閲覧', '/Main/view_record');
print '<br>';
print $this->Html->link('ログアウト', '/users/logout');
