<?php
/**
 *
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
?>
<!DOCTYPE html>
<html>
    <?php
    /*
      <head>
      <?php echo $this->Html->charset(); ?>
      <title>
      <?php echo $cakeDescription ?>:
      <?php echo $title_for_layout; ?>
      </title>
      <?php
      echo $this->Html->meta('icon');

      // jQuery CDN
      echo $this->Html->script('//code.jquery.com/jquery-1.10.2.min.js');

      // Twitter Bootstrap 3.0 CDN
      echo $this->Html->css('//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css');
      echo $this->Html->script('//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js');

      echo $this->fetch('meta');
      echo $this->fetch('css');
      echo $this->fetch('script');
      ?>
      </head>
     * */
    ?>
    <html>
	<head>
	    <?php echo $this->Html->charset(); ?>
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
	    <title>電子カルテ</title>
	    <?php
	    echo $this->Html->meta('icon');

	    echo $this->Html->css('cake.generic');

	    echo $this->fetch('meta');
	    echo $this->fetch('css');
	    echo $this->fetch('script');
	    ?>
	</head>

	<body>
	    <div id="container">
		<div id="header">
		    <?php echo $this->Html->link('電子カルテ', array('controller' => '/main/index')); ?>
		</div>
		<div id="content">

		    <?php echo $this->Session->flash(); ?>

		    <?php echo $this->fetch('content'); ?>
		</div>
		<div id="footer">
		</div>
	    </div>
	    <?php echo $this->element('sql_dump'); ?>
	</body>
    </html>
